@mixin set_width($wdth){
  width: $wdth;
}

@mixin set_height($ht){
  height: $ht;
}


:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

label {
  display: block;
  @include set-width(6em);
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  @include set-height(2em);
  font-size: 1em;
  padding-left: .4em;
}

button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

h2{
  color: red;
}

form{
  margin: 20px;
}
