<form [formGroup]="profileForm">
  <label>
    Name:
    <input type="text" formControlName="name" size="40" required>
  </label>
  <label>
    Email:
    <input type="email" formControlName="email" size="40" required>
  </label>
  <label>
  <span>Feedback:</span>
   <label>
     <input type="radio" value="Great" formControlName="feedback" required>
       <span>Great</span>
   </label>
   <label>
     <input type="radio" value="Okay" formControlName="feedback" required>
       <span>Okay</span>
   </label>
   <label>
     <input type="radio" value="Not Good" formControlName="feedback">
       <span>Not Good</span>
   </label>
 </label>

  <label>
    Comments:
    <textarea type="textarea" formControlName="comment" cols="40"></textarea>
  </label>
  <button type="submit" (click)="onSubmit()">Submit</button>
</form>


<div *ngIf="success==1" class="alert alert-success" role="alert">
  Submitted Successfully
</div>
<div *ngIf="fail==1" class="alert alert-danger" role="alert">
  Submit Failed
</div>
