%text-center{
	text-align: center;
}

%block-centering{
	margin-left: auto;
	margin-right: auto;
}

.heading {
	@extend %text-center;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 20px;
}

.container {
	width: 50%;
}

.alpha {
	@extend %text-center;
}


.center{
	@extend %block-centering;
}

table{
	background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
	font-size: large;
}


th,td{
	padding: 5px 30px 5px 30px;
}

th{
	color: blue;
}

td{
	color: #9900cc;
}
