<div class="heading"><h2>Contact Page</h2></div>
<div class="container">
    <div class="row">
      <div class="col-xs-5 alpha">
        First Name
      </div>
      <div class="col-xs-1">
        :
      </div>
      <div class="col-xs-6 beta">
        Aman Yadav
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 alpha">
        Roll No
      </div>
      <div class="col-xs-1">
        :
      </div>
      <div class="col-xs-6 beta">
        190050013
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 alpha">
        Email
      </div>
      <div class="col-xs-1">
        :
      </div>
      <div class="col-sm-6 beta">
      	amanyadav@cse.iitb.ac.in
      </div>
    </div>
</div>